{% extends 'stocktracker/base.html' %}


{% block body %}

<div class="albums-container container-fluid">


    <div class="row">

            <div class="compare-header col-sm-12">

                <h3>
                    {{ stock1.ticker }},
                    {{ stock1.lastprice }}SGD
                        {%  if stock1.price_change < 0 %}
                            <span class="down glyphicon glyphicon-triangle-bottom"> {{ stock1.price_change }}</span>
                        {% elif stock1.price_change > 0 %}
                            <span class="up glyphicon glyphicon-triangle-top"> {{ stock1.price_change }}</span>
                        {% else %}
                            <span class="glyphicon glyphicon-minus"></span>
                        {% endif  %}
                        :
                    {{ stock2.ticker }},
                    {{ stock2.lastprice }}SGD
                        {%  if stock2.price_change < 0 %}
                            <span class="down glyphicon glyphicon-triangle-bottom"> {{ stock2.price_change }}%</span>
                        {% elif stock2.price_change > 0 %}
                            <span class="up glyphicon glyphicon-triangle-top"> {{ stock2.price_change }}</span>
                        {% else %}
                            <span class="glyphicon glyphicon-minus"></span>
                        {% endif  %}
                </h3>


            </div>
            <div class="col-sm-12">
                <form class="compare-search form-inline" role="form">
                    <div class="form-group">
                        <label for="startdate">From:</label>
                        <input type="date" class="form-control" id="startdate">
                    </div>
                    <div class="form-group">
                        <label for="enddate">To:</label>
                        <input type="date" class="form-control" id="enddate">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
    </div>

    <!-- Graph-->
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-0.11.1.min.css" rel="stylesheet" type="text/css">
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.11.0.css" rel="stylesheet">
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.11.1.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.11.1.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.11.1.min.css"></script>


    {{ the_div|safe }}
    {{ the_script|safe }}

    <div class="compare-company col-md-6 ">
        <h2>Companies Financial Ratios</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Financial Ratio</th>
                    <th>{{ stock1.ticker }}</th>
                    <th>{{ stock2.ticker }}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Market Cap</td>
                    <td>{{ stock1.market_cap }}</td>
                    <td>{{ stock2.market_cap }}</td>
                </tr>
                <tr>
                    <td>Revenue</td>
                    <td>{{ stock1.revenue }}</td>
                    <td>{{ stock2.revenue }}</td>
                </tr>
                <tr>
                    <td>Price to Book ratio</td>
                    <td>{{ stock1.pb_ratio }}</td>
                    <td>{{ stock2.pb_ratio }}</td>
                </tr>
                <tr>
                    <td>Price to Earning Ratio</td>
                    <td>{{ stock1.pe_ratio }}
                    <td>{{ stock2.pe_ratio }}</td>
                </tr>
                <tr>
                    <td>Volume</td>
                    <td>{{ stock1.volume }}</td>
                    <td>{{ stock2.volume }}</td>
                </tr>
                <tr>
                    <td>52 Weeks High</td>
                    <td>{{ stock1.get_high }}</td>
                    <td>{{ stock2.get_high }}</td>
                </tr>
                <tr>
                    <td>52 Weeks Low</td>
                    <td>{{ stock1.get_low }}</td>
                    <td>{{ stock2.get_low }}</td>
                </tr>
            </tbody>
            <tr>
                    <td>PE Growth Rate</td>
                    <td>{{ stock1.peg }}</td>
                    <td>{{ stock2.peg }}</td>
                </tr>
            <tr>
                    <td>Dividends</td>
                    <td>{{ stock1.dividend }}</td>
                    <td>{{ stock2.dividend }}</td>
                </tr>

        </table>
    </div>
    <div class="compare-graph col-md-6">
        <p>{{ mc1|safe }}</p>
        <p>{{ mc2|safe }}</p>

    </div>
    <div class="company-profile col-md-6">
            <h2>{{ stock1.company_name }}</h2>
            <p>{{stock1.description}}</p>


    </div>
    <div class="company-profile col-md-6">
            <h2>{{ stock2.company_name }}</h2>
            <p>{{stock2.description}}</p>
    </div>
</div>
{% endblock %}
