{% extends 'stocktracker/base.html' %}

{% block nav-search %}
    <!--Working Search Bar-->
    <form class="navbar-form navbar-left" role="search" method="GET" action="">
        <div class="form-group">
        <input type="text" class="form-control" name="q" value="{{ request.GET.q }}">
        </div>
    <button type="submit" class="btn btn-default">Search</button>
    </form>
{% endblock %}
{% block body %}

    <!--image-->
    <div class="image" id = background_image>
            <img src="../../static/stocktracker/images/background2.jpg" alt="background" width="100%" height="5%">
    </div>
        <!--3 components-->
     <div class="container-fluid index1 text-center ">
        <h2>About FreeBerg</h2>
        <div class="row">
            <div class="col-sm-6 text-center">
                <img src="../../static/stocktracker/images/stocktrack.png" class="img-rounded" alt="stocktrack" width="20%">
                <a href="{% url 'stocktracker:allstocks' %}"><h3>Stocktrack</h3></a>
                <p>View detailed analysis of market stocks </p>
            </div>
            <div class="col-sm-6 text-center">
               <img src="../../static/stocktracker/images/comparison.png" class="img-rounded" alt="comparison" width="20%">
               <a href="{% url 'stocktracker:pickstock1' %}"><h3>Comparison</h3></a>
              <p>Compare performance between 2 stocks</p>
            </div>
        </div>
     </div>



{% endblock %}

