{% extends 'stocktracker/base.html' %}

{% block title %}{{ stock.company_name }}}{% endblock %}

{% block nav-search %}
    <!--Working Search Bar-->
    <form class="navbar-form navbar-left" role="search" method="GET" action="">
        <div class="form-group">
        <input type="text" class="form-control" name="q" value="{{ request.GET.q }}">
        </div>
    <button type="submit" class="btn btn-default">Search</button>
    </form>
{% endblock %}

{% block body %}
<div class="albums-container container-fluid">
    <div class="row">

            <div class="text-center">
                <h3>{{ stock.ticker }},
                {{ stock.lastprice }}SGD,

                    {%  if stock.price_change < 0 %}
                        <span class="down glyphicon glyphicon-triangle-bottom">{{ stock.price_change }}</span>
                    {% elif stock.price_change > 0 %}
                        <span class="up glyphicon glyphicon-triangle-top"> {{ stock.price_change }}</span>
                    {% else %}
                        <span class="glyphicon glyphicon-minus"></span>
                    {% endif  %}
                </h3>
            </div>
            <div class="text-center">
                <form class="search form-inline date" role="form">
                    <div class="form-group">
                        <label for="startdate">From:</label>
                        <input type="date" class="form-control" id="startdate">
                    </div>
                    <div class="form-group">
                        <label for="enddate">To:</label>
                        <input type="date" class="form-control" id="enddate">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
    </div>

    <!-- Graph-->
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-0.11.1.min.css" rel="stylesheet" type="text/css">
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.11.0.css" rel="stylesheet">
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.11.1.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.11.1.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.11.1.min.css"></script>

    {{ the_div|safe }}
    {{ the_script|safe }}

    <div class="company-profile col-md-6">
            <h2>{{ stock.company_name }}</h2>
            <p>{{stock.description}}</p>
    </div>
    <div class="company-fr col-md-6 table-responsive">
        <h2>Company Financial Ratios</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Financial Ratio</th>
                    <th>Rates</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Market Cap</td>
                    <td>{{ stock.market_cap }}</td>
                </tr>
                <tr>
                    <td>Price to Book Ratio</td>
                    <td>{{ stock.pb_ratio }}</td>
                </tr>
                <tr>
                    <td>Price to Earning Ratio</td>
                    <td>{{ stock.pe_ratio }}</td>
                </tr>
                <tr>
                    <td>Dividends</td>
                    <td>{{ stock.dividend }}</td>
                </tr>
                <tr>
                    <td>Volume</td>
                    <td>{{ stock.volume }}</td>
                </tr>
                <tr>
                    <td>52 weeks high</td>
                    <td>{{ stock.get_high }}</td>
                </tr>
                <tr>
                    <td>52 weeks low</td>
                    <td>{{ stock.get_low }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="container-fluid company-compare text-center">
        <H1>Stock Comparison</H1>
        <a href="{% url 'stocktracker:pickstock2' stock.id %}" class="btn btn-default" role="button">Compare</a>
</div>
{% endblock %}
