/* for base template*/
body{background: whitesmoke;}

.navbar{
    border-radius:0;
    margin:0;
}

.navbar-brand{font-family: 'Satisfy','cursive';}

.nav{
    font-size: 16px;
}
.index1{
    padding-top: 15px;
    padding-bottom: 20px;

}
.bg-1 {
    background-color: #2f2f2f;
    color: #ffffff;
    padding-top: 15px;
    padding-bottom: 15px;
}
.date{
    padding-top: 15px;
}
span.down {
    color:red;
}
span.up{
    color: green;
}

.compare-header{
    text-align: center;
    text-underline:black;
}
.compare-search{
    text-align: center;
}
.thumbnail{
    background-color: transparent;
    border: none;
}
a:link{
    color:black;
    }
a:visited{
    color:black;
}
.allstock-intro {
    padding: 100px 0px 100px 0px;
    background-color: #3bafba;
    color: white;
}
.company-fr table thead{
    background-color: #2b2d2f;
    color: white;
}
.allstock img {
    padding-bottom: 20px;
}
.compare-company table thead{
    background-color: #2b2d2f;
    color: white;
}
.pickstock1-intro {
    padding: 100px 0px 100px 0px;
    background-color: #863bba;
    color: white;
}
.pickstock2-intro {
    padding: 100px 0px 100px 0px;
    background-color: #FF8C00;
    color: white;
}
.company-compare {
    padding: 100px 0px 100px 0px;
    background-color: #3cba54;
    color: white;
}